[submodule "Production-Ready-Instruction-Finetuning-of-Meta-Llama-3.2-3B-Instruct-Project"]
	path = Production-Ready-Instruction-Finetuning-of-Meta-Llama-3.2-3B-Instruct-Project
	url = https://github.com/shaheennabi/Production-Ready-Instruction-Finetuning-of-Meta-Llama-3.2-3B-Instruct-Project
